.cd h2 {
	font-size: 3em;
	margin: -5px 0 0 0;
}
/* Assign the icons */
.cd-account .wp-menu-image:before, .cd-account .cd-title-icon:before {
  content: '\f337';
}
.cd-help .wp-menu-image:before, .cd-help .cd-title-icon:before {
  content: '\f223';
}
.cd-reports .wp-menu-image:before, .cd-reports .cd-title-icon:before {
  content: '\f239';
}
/* Style dashboard widgets */
.cd .wp-menu-image:before, .cd-title-icon:before {
  font: 100 55px/1 dashicons;
  speak: none;
  display: inline-block;
}
.postbox-container a.cd {
  display: block;
  text-align: center;
}
.postbox-container .cd .wp-menu-image:before {
  font: 100 20em/1 dashicons;
}

/* Style the page title icons */
.cd-title-icon{
  vertical-align: -16px;
}
/* CD messages */
.cd-error{
  background: #FF6F72;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  font-size: 120%;
}

#cd-message{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 0;
  background: #fff;
  margin: 10px 0;
  font-size: 150%;
  width: 0%;
  float: right;
  margin-right: 70%;
  overflow: hidden;
  white-space: nowrap;
  -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
       -o-transition: all 1s ease-out;
          transition: all 1s ease-out;
}
#cd-message.cd-message-open{
  width: 30%;
  padding: 10px;
}

#cd-message.cd-updated{
  background: #00B90A;
  color: #fff;
}