/*
* Dashboard ==========================================
*/

.cd-icon {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.cd-dashboard-widget .cd-icon {
  width: auto;
  height: auto;
  font-size: 260px;
}

.cd-icon:before {
  font-size: inherit !important;
}

/* Style widgets */
.cd .wp-menu-image:before, .cd-title-icon:before {
  font: 100 55px/1 dashicons;
  speak: none;
  display: inline-block;
}

.postbox-container a.cd-dashboard-widget {
  display: block;
  text-align: center;
}

.postbox-container .cd-dashboard-widget .wp-menu-image:before {
  font: 100 20em/1 dashicons;
}

/*
* Page ==========================================
*/

.cd-title .cd-icon {
  width: auto;
  height: auto;
  line-height: normal;
  font-size: 50px;
  vertical-align: middle;
  margin-right: 5px;
}

.cd-title .cd-title-text {
  vertical-align: middle;
}

/*
* Addons ========================================
*/
.cd-addon {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
}

.cd-addon a {
  text-decoration: none;
}

.cd-addon span {
  font-size: 130px;
  height: auto;
  width: auto;
}

.cd-addon h4 {
  margin: 0 0 20px;
}

@media screen and (max-width: 566px) {
  .cd-addon {
    width: 90%;
  }
}

/*
* Icons page ========================================
*/
#cd-dashicons-selections {
  text-align: center;
}

#cd-dashicons-selections .dashicons {
  font-size: 70px;
  height: auto;
  width: auto;
  margin: 10px 0;
}

#cd-dashicons-selections .cd-dashicons-title {
  margin: 0;
  font-size: 150%;
}

.cd-dashicons-grid-item {
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 0 10px;
  margin: 10px -4px 10px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cd-dashicons-grid-item .container {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 10px 0;
}

.cd-dashicons-grid-item .dashicons {
  font-size: 50px !important;
  height: auto;
  width: auto;
}

/*
* Roles ========================================
*/
.cd-roles-grid-item {
  margin-bottom: 10px;
}

.cd-roles-grid-page {
  padding: 20px;
  margin: 0;
  border: 1px solid #ddd;
  /*box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);*/
  background: rgba(255, 255, 255, 0.4);
}
.cd-roles-grid-page:hover {
  border-color: #ccc;
}

.cd-roles-grid-tab {
  background: #fff;
  margin: 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.cd-roles-grid-block {
  border-color: rgba(0,0,0,0.3);
}

.cd-roles-grid-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.cd-roles-grid-tab > .cd-roles-grid-title {
  border-bottom: 2px dashed rgba(0,0,0,0.1);
  font-size: 18px;
  margin-bottom: 10px;
}

.cd-roles-grid-block > .cd-roles-grid-title {
  font-size: 16px;
  font-weight: normal;
}

.cd-roles-grid-toggle {
  float: right;
  cursor: pointer;
}
.cd-roles-grid-toggle:after {
  content: "";
  display: inline-block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;

  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.cd-roles-grid-toggle.closed:after {
  border-top: 15px solid rgba(0,0,0,0.2);
}
.cd-roles-grid-toggle.open:after {
  border-bottom: 15px solid rgba(0,0,0,0.2);
}

.cd-roles-grid-checkbox {
  margin-right: 20px;
}


/*
* Other ==========================================
*/
.cd-caps {
  color: #00f;
}

.cd-capitalize {
  text-transform: capitalize;
}

.cd-click {
  cursor: pointer;
}

.cd-col-four {
  display: inline-block;
  width: 25%;
  margin-right: -4px !important;
}

.cd-col-three {
  display: inline-block;
  width: 33.3333%;
  margin-right: -4px !important;
}
.cd-col-two {
  display: inline-block;
  width: 50%;
  margin-right: -4px;
}