/*
* Dashboard ==========================================
*/

.cd-icon {
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.cd-dashboard-widget .cd-icon {
  width: auto;
  height: auto;
  font-size: 260px;
}

.cd-icon:before {
  font-size: inherit !important;
}

/* Style widgets */
.cd .wp-menu-image:before, .cd-title-icon:before {
  font: 100 55px/1 dashicons;
  speak: none;
  display: inline-block;
}

.postbox-container a.cd-dashboard-widget {
  display: block;
  text-align: center;
}

.postbox-container .cd-dashboard-widget .wp-menu-image:before {
  font: 100 20em/1 dashicons;
}

/*
* Page ==========================================
*/

.cd-title .cd-icon {
  width: auto;
  height: auto;
  line-height: normal;
  font-size: 50px;
  vertical-align: middle;
  margin-right: 5px;
}

.cd-title .cd-title-text {
  vertical-align: middle;
}

/*
* Addons ========================================
*/
.cd-addon {
  width: 30%;
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 15px 15px 0;
  text-align: center;
}

.cd-addon a {
  text-decoration: none;
}

.cd-addon span {
  font: 100 12em/1 dashicons;
}

.cd-addon span:before {
  content: '\f132';
}

.cd-addon a[href*="wp-help"] span:before {
  content: '\f223';
}

.cd-addon h4 {
  margin: 0 0 20px;
}

@media screen and (max-width: 566px) {
  .cd-addon {
    width: 90%;
  }
}

/*
* Dashicons page
*/
#cd-dashicons-selections {
  text-align: center;
}

#cd-dashicons-selections .dashicons {
  font-size: 70px;
  height: auto;
  width: auto;
  margin: 10px 0;
}

#cd-dashicons-selections .cd-dashicons-title {
  margin: 0;
  font-size: 150%;
}

.cd-dashicons-grid-item {
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 0 10px;
  margin: 10px -4px 10px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cd-dashicons-grid-item .container {
  border: 1px solid #aaa;
  border-radius: 3px;
  padding: 10px 0;
}

.cd-dashicons-grid-item .dashicons {
  font-size: 50px !important;
  height: auto;
  width: auto;
}

/*
* Other ==========================================
*/
.cd-caps {
  color: #00f;
}

.cd-click {
  cursor: pointer;
}

.cd-col-four {
  display: inline-block;
  width: 25%;
  margin-right: -4px !important;
}

.cd-col-three {
  display: inline-block;
  width: 33.3333%;
  margin-right: -4px !important;
}