.cd-capitalize {
  text-transform: capitalize;
}

.cd-click {
  cursor: pointer;
}

#cd-ajax-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.cd-toggle-switch {
  position: relative;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px solid #ddd;
  text-align: center;
}

.cd-toggle-switch:before, .cd-toggle-switch:after {
  display: block;
  font-size: 10px;
  padding: 5px 3px;
  color: #fff;
  background-color: #aaa;
}

.cd-toggle-switch:before {
  content: "ON";
  border-bottom: 1px solid #ddd;
}

.cd-toggle-switch:after {
  content: "OFF";
}

.cd-toggle-switch.on:before {
  background-color: #1c7b09;
}

.cd-toggle-switch.off:after {
  background-color: #b60508;
}

.cd-up-down {
  float: right;
}

.cd-up-down:after {
  content: "";
  display: inline-block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid rgba(0, 0, 0, 0.2);

  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}

.cd-up-down.open:after {
  border-top: none;
  border-bottom: 15px solid rgba(0, 0, 0, 0.2);
}