.cd-title {
  .cd-icon {
    width: auto;
    height: auto;
    line-height: normal;
    font-size: 50px;
    vertical-align: middle;
    margin-right: 5px;
  }
  .cd-title-text {
    vertical-align: middle;
  }
}

.cd-sections-menu {
  margin-bottom: 20px;
}

.cd-content-section {
  clear: both;
  margin: 20px 0;
}