.cd-addon {
  text-align: center;
  padding: 10px;
  .cd-addon-container {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    min-height: 223px;
  }
  a {
    text-decoration: none;
  }
  span {
    font-size: 130px;
    height: auto;
    width: auto;
  }
  h4 {
    margin: 0 0 20px;
  }
  @media screen and (max-width: 700px) {
    width: 50% !important;
  }

  @media screen and (max-width: 450px) {
    width: 100% !important;
  }
}