.cd-roles-grid-item {
  margin-bottom: 10px;
}

.cd-roles-grid-item, .cd-roles-grid-item * {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cd-roles-grid-page {
  padding: 20px;
  margin: 0;
  border: 1px solid #ddd;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.cd-roles-grid-page:hover {
  border-color: #bbb;
}

.cd-roles-grid-tab {
  background: #fff;
  margin: 0;
  padding: 20px;
  border: 1px solid #ddd;
  border-top: none;
}

.cd-roles-grid-block {
  border-color: rgba(0, 0, 0, 0.3);
}

.cd-roles-grid-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}

.cd-roles-grid-page > .cd-roles-grid-title:after {
  content: "page";
  margin-left: 10px;
  font-size: 65%;
  font-weight: normal;
}

.cd-roles-grid-tab > .cd-roles-grid-title {
  border-bottom: 2px dashed #ddd;
  font-size: 18px;
  margin-bottom: 10px;
}

.cd-roles-grid-tab > .cd-roles-grid-title:after {
  content: "tab";
  margin-left: 10px;
  font-size: 65%;
  font-weight: normal;
  vertical-align: text-bottom;
}

.cd-roles-grid-tab > .cd-roles-grid-title:hover {
  border-color: #bbb;
}

.cd-roles-grid-block > .cd-roles-grid-title {
  font-size: 16px;
  font-weight: normal;
}

.cd-roles-grid-checkbox {
  margin-right: 20px;
}

.button.cd-reset-roles {
  margin-left: 10px;
  color: #FFE;
  background-color: #F66;
  border-color: #CC4242;
  -webkit-box-shadow: inset 0 1px 0 rgba(230, 120, 120, 0.5), 0 1px 0 rgba(0, 0, 0, .15);
  box-shadow: inset 0 1px 0 rgba(230, 120, 120, 0.5), 0 1px 0 rgba(0, 0, 0, .15);
}

.button.cd-reset-roles:hover {
  background: #de5959;
  border-color: #9a3333;
  color: #fff;
}

.button.cd-reset-roles:active {
  background: #b74b4b !important;
  border-color: #712626;
  color: #fff;
}

.button.cd-reset-roles:focus {
  background: #de5959;
  border-color: #9a3333;
  color: #fff;
}