.cd-content-section {

  // Manage menus
  .manage-menus {

    // Disabled
    &.disabled {
      opacity: 0.5;
    }
  }

  // Left side
  #menu-settings-column {

    // Post Types tab items (they wouldn't fit before)
    #posttype-page-tabs {
      > li {
        padding: 3px 2px !important;
      }
    }

    // Taxonomy items
    #tabs-panel-posttype-taxonomies {
      .taxonomy-title {
        font-style: italic;
        color: #888;
      }
    }

    // WordPress Core sub-menu items
    #tabs-panel-wordpress-core-submenu {
      .wp-core-title {
        font-style: italic;
        color: #888;
      }
    }

    // Plugin / Theme sub-menu items
    #tabs-panel-plugin-submenu {
      .plugin-title {
        font-style: italic;
        color: #888;
      }
    }
  }

  // Right side
  #menu-management-liquid {

    // Extra params arrow
    .cd-extra-params:after {
      content: "";
      border-top: 6px solid #aaa;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      display: inline-block;
    }

    // Align the switch
    .cd-toggle-switch {
      margin-top: 2px;
    }

    // Progress when creating a nav menu
    #cd-creating-nav-menu-progress {
      font-size: 40px;
    }

    // Separator
    .menu-item-separator {
      .menu-item-handle {
        background: darken(#fafafa, 10%); // Original background color
        border-color: darken(#dfdfdf, 10%); // Original border color
        color: lighten(#222, 40%) // Original font color
      }
    }

    // Items with duplicate parent slugs
    // Also disabled items due to CD Core page visibility
    .duplicate-parent-slug, .menu-item-cd-disabled {
      .menu-item-handle {
        background: #ffc5bf;
        border-color: darken(#ffc5bf, 10%);
      }
    }

    // Icons
    .dashicons {
      color: #555;
    }

    // Some gross whitespace
    #post-body {
      padding: 10px !important;
    }
    #post-body-content {
      margin-bottom: 0;
    }

    // The nav menu title
    .cd-nav-menu-title {
      font-style: normal;
      font-weight: bold;
      color: #222;
      font-size: 125%;
    }
  }

  // When the separator shakes, the container is too big
  .ui-effects-wrapper {
    width: 0 !important;
  }
}