.cd-tip {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 200px;
  padding: 10px;
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}

.cd-tip-hidden {
  opacity: 0;
  visibility: hidden;
}

.cd-tip.cd-tip-left.cd-tip-hidden {
  margin-left: -10px;
}

.cd-tip.cd-tip-right.cd-tip-hidden {
  margin-right: -10px;
}

.cd-tip.cd-tip-left {
  left: 100%;
  margin-left: 8px;
  text-align: left;
}

.cd-tip.cd-tip-right {
  right: 100%;
  margin-right: 8px;
  text-align: right;
}

.cd-tip:after {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.cd-tip-close {
  position: absolute;
  top: -2px;
  color: #aaa;
}

.cd-tip-close:hover {
  color: #c64444;
}

.cd-tip-right .cd-tip-close {
  left: 2px;
}

.cd-tip-left .cd-tip-close {
  right: 2px;
}

.cd-tip.cd-tip-right:after {
  right: 0;
  margin-right: -10px;
  border-left: 10px solid #fff;
}

.cd-tip.cd-tip-left:after {
  left: 0;
  margin-left: -10px;
  border-right: 10px solid #fff;
}

/* Individual tips */
.cd-tip-webmaster-off {
  margin-top: -19px !important;
}

.cd-tip-all-disabled {
  margin-top: -31px !important;
}