@keyframes bounce-down {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes bounce-left {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes bounce-right {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes highlight-primary {
  0% {
    background-color: $primary-color;
  }
  50% {
    background-color: lighten($primary-color, 10%);
  }
  100% {
    background-color: $primary-color;
  }
}

@keyframes highlight-opacity {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}