$primary-color: #0074A2;

$light-gray: #F4F4F4;
$medium-gray: #c1c1c1;
$dark-gray: #a5a5a5;
$color-error: #E64949;
$color-success: #709B3E;
$color-warning: #ffc01a;

$font-small: 0.8em;
$font-medium: 1.2em;
$font-large: 1.5em;

$customizer-width: 300px;